/* BACKGROUND */
body{
margin:0;
height:100vh;
font-family:'Poppins', sans-serif;

background: linear-gradient(
135deg,
#ff512f,
#dd2476,
#ff9966,
#ff5e62
);

background-size:400% 400%;
animation:sunsetAnimation 12s ease infinite;

display:flex;
flex-direction:column;
align-items:center;
}

@keyframes sunsetAnimation{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}


/* TITLE */
.title{
color:white;
font-size:40px;
margin-top:20px;
text-align:center;
}


/* LAYOUT */
.page-layout{
display:flex;
justify-content:center;
margin-top:10px;
}


/* CONTAINER */
.main-container{
background:white;
width:70vw;
height:78vh;
border-radius:12px;
display:flex;
padding:25px;
gap:30px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}


/* LEFT */
.left-section{
width:50%;
display:flex;
flex-direction:column;
gap:10px;
}


/* RIGHT */
.right-section{
width:50%;
display:flex;
flex-direction:column;
gap:10px;
}


/* INPUT */
input{
padding:9px;
border-radius:6px;
border:1px solid #ccc;
width:100%;
}


/* HEADINGS */
h3{
color:#dd2476;
margin-top:6px;
margin-bottom:5px;
}


/* CONVERTER BUTTON */
.convert-btn{
padding:6px;
border:none;
border-radius:6px;
background:#dd2476;
color:white;
cursor:pointer;
}


/* BUTTON STYLE */
.nav-btn{
padding:15px 30px;
font-size:16px;
background:white;
color:#dd2476;
border:none;
border-radius:30px;
font-weight:bold;
cursor:pointer;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
height:60px;
transition:0.3s;
text-decoration:none;
display:flex;
align-items:center;
justify-content:center;
}

.nav-btn:hover{
background:#dd2476;
color:white;
transform:scale(1.05);
}


/* BUTTON POSITIONS */
.prev-btn{
position:fixed;
bottom:25px;
left:30px;
}

.next-btn{
position:fixed;
bottom:25px;
right:30px;
}